# Git
.git
.gitignore

# Python
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.egg-info
*.egg
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files (передавать через docker-compose env)
.env
.env.*

# Docs & misc
*.md
*.log
node_modules/
