services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=training.settings
      - ALLOWED_HOSTS=*
    volumes:
      - .:/app
    command: python manage.py runserver 0.0.0.0:8000
