.card-img {
    border: 2px solid #222;  /* Чёрная рамка, можно изменить цвет и толщину */
    border-radius: 8px;      /* Скруглённые уголки, по желанию */
    box-shadow: 1px 2px 6px #bbb2; /* Лёгкая тень для объёма, по желанию */
}
